@media (max-width: 500px){
*{
    margin: 0;
    padding: 0;
}
body
{
   background-image: url("pink.jpg");
    padding: 10px 0px;
    margin: 10px 0px;
    
}
nav{
    padding: 0px;
    display: block;    
    color: black;
    width: 78%;
    height: 100%;
    margin: 0px;
}
nav h2
{
margin-left: 20px;
font-size: 25px;
border: none;
color: rgb(198, 95, 95);
font-weight: 600;

}

nav ul
{
    display: block;
    list-style-type: none;
    padding: 20px 20px;
    margin: auto;
   
   
}
nav ul li
{
    
    padding: 20px 0px;
   margin: 20px 0px;
 
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: 3s;
    margin-left: 0px;
    font-size: 20px;
    
}
nav ul li a:hover
{
    color: salmon;
    border: 3px transparent; 
    background-color: white;
    margin: 10px;
    padding: 10px;
}
button{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    
}
.in
{
    background-color: aquamarine;
    margin-bottom: 10px;
    
}
.in a
{
    text-decoration: none;
    color: black;
}

.up
{
    background-color: aqua;
}
.up a
{
    text-decoration: none;
    color: black;
}
.in a:hover
{
    color: rgb(144, 16, 155) ;
    border: 5px transparent;
    background-color: azure;
}
.up a:hover
{
     color: rgb(144, 16, 155) ;
    border: 5px transparent;
    background-color: azure;
}
}

/*body
    {
        background-image: url("new.jpg");   
    }
    h2{
        font-size: 40px;
        color: white;
    }   
    nav, ul ,li ,a{
        font-size: 20px;
        color: white;
    }*/